.carousel {
  color: white;
  font-size: 20px;
  background-color: #2e312f;
  pointer-events: 1;
}

body {
  background: linear-gradient(-10deg, #0077be, #9a487a, #f9bc00);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.css-wmy1p7-ReactDropdownSelect * {
  box-sizing: border-box;
  background-color: #2e312f;
}

body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Full viewport height */
  min-width: 100vw; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.App {
  text-align: left;
  /* Add a max-width if you want to limit the content width */
  width: 100%; /* Ensures it takes up the full width of the body */
}

@media (min-width: 800px) {
  /* CSS that should be displayed if width is equal to or more than 800px goes here */
  div.pair-container {
    width: 50vw;
  }
}

@media (max-width: 900px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .App {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Existing CSS */
.pair-container {
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #444; /* Dark border */
  background-color: rgba(
    34,
    34,
    34,
    0.9
  ); /* Dark semi-transparent background */
  color: #fff; /* White text for contrast */
}

/* New CSS for responsiveness */
@media (min-width: 600px) {
  .pair-container {
    width: 75%;
  }
}

@media (min-width: 900px) {
  .pair-container {
    width: 50%;
  }
}

/* Targeting the input field inside react-select */
.react-select__input input {
  pointer-events: none;
  cursor: default;
  color: #fff; /* White text for contrast */
}

/* Existing CSS */
.book-taxi-button {
  /* Add styles for the book now button */
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0077be;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;

  /* Add styles for the taxi icon */
  position: relative;
  margin-left: 10px;
}

.book-taxi-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("taxi-icon.png"); /* Replace with the path to your taxi icon */
  background-size: cover;
}

.book-taxi-button:hover {
  background-color: #005ea3;
}
